<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LTFSCopyGUI.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <runtime>
        <AppContextSwitchOverrides value="Switch.System.IO.UseLegacyPathHandling=false;Switch.System.IO.BlockLongPaths=false" />
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Windows.Forms.DataVisualization" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <userSettings>
        <LTFSCopyGUI.My.MySettings>
            <setting name="LastFile" serializeAs="String">
                <value>C:\tmp\ltfs\LT0007.schema</value>
            </setting>
            <setting name="Src" serializeAs="String">
                <value>L:\</value>
            </setting>
            <setting name="Dest" serializeAs="String">
                <value>U:\</value>
            </setting>
            <setting name="ReHash" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GenCMD" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CopyInfo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LTFSWriter_OverwriteExist" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LTFSWriter_OnWriteFinished" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LTFSWriter_AutoFlush" serializeAs="String">
                <value>False</value>
            </setting>
        </LTFSCopyGUI.My.MySettings>
    </userSettings>
    
</configuration>