<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LTFSCopyGUI.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <runtime>
        <AppContextSwitchOverrides value="Switch.System.IO.UseLegacyPathHandling=false;Switch.System.IO.BlockLongPaths=false" />
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Windows.Forms.DataVisualization" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.1.0" newVersion="6.0.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Mono.Posix" publicKeyToken="0738eb9f132ed756" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <userSettings>
        <LTFSCopyGUI.My.MySettings>
            <setting name="IndexAnalyzer_LastFile" serializeAs="String">
                <value>C:\tmp\ltfs\LT0007.schema</value>
            </setting>
            <setting name="IndexAnalyzer_Src" serializeAs="String">
                <value>L:\</value>
            </setting>
            <setting name="IndexAnalyzer_Dest" serializeAs="String">
                <value>U:\</value>
            </setting>
            <setting name="HashTaskWindow_ReHash" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IndexAnalyzer_GenCMD" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FileBrowser_CopyInfo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LTFSWriter_OverwriteExist" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LTFSWriter_OnWriteFinished" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LTFSWriter_AutoFlush" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LTFSWriter_FileLabel" serializeAs="String">
                <value />
            </setting>
            <setting name="LTFSWriter_LogEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LTFSWriter_ForceIndex" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LTFSConf_AutoRefresh" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LTFSWriter_CleanCycle" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="LTFSWriter_HashOnWriting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LTFSWriter_HashAsync" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LTFSWriter_IndexWriteInterval" serializeAs="String">
                <value>38654705664</value>
            </setting>
            <setting name="LTFSWriter_CapacityRefreshInterval" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="LTFSWriter_PreLoadFileCount" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="LTFSWriter_PreLoadBytes" serializeAs="String">
                <value>268435456</value>
            </setting>
            <setting name="LTFSWriter_DisablePartition" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Application_License" serializeAs="String">
                <value> 非商业许可</value>
            </setting>
            <setting name="LTFSWriter_AutoCleanDownLim" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="LTFSWriter_AutoCleanUpperLim" serializeAs="String">
                <value>87</value>
            </setting>
            <setting name="LTFSWriter_AutoCleanTimeThreashould" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="LTFSWriter_DeDupe" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LTFSWriter_ShowLoss" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LTFSWriter_SkipSymlink" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LTFSWriter_ShowFileCount" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LTFSWriter_PowerPolicyOnWriteBegin" serializeAs="String">
                <value>8c5e7fda-e8bf-4a96-9a85-a6e23a8c635c</value>
            </setting>
            <setting name="LTFSWriter_PowerPolicyOnWriteEnd" serializeAs="String">
                <value>381b4222-f694-41f0-9685-ff5bb260df2e</value>
            </setting>
            <setting name="LTFSWriter_AutoCleanErrRateLogThreashould" serializeAs="String">
                <value>-3.7</value>
            </setting>
        </LTFSCopyGUI.My.MySettings>
    </userSettings>
    
</configuration>
